.nav-button {
  position: relative;
}

.nav-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: 300ms;
  border-radius: 6px;
  z-index: -1;
}
.nav-button:first-child::before {
  background-color: rgb(80, 153, 244);
}
.nav-button:last-child::before {
  background-color: white;
}

.nav-button:first-child:hover {
  background: transparent !important;
  color: white;
}
.nav-button:last-child:hover {
  background: transparent !important;
  color: rgb(80, 153, 244);
}

.nav-button:hover::before {
  transform: scaleX(1);
}
