.card {
  position: relative;
  background-color: white;
}

.card::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -100%;
  top: 0;
  transition: 300ms;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 153, 244);
}

.card:hover {
  background-color: white;
  color: white;
}
.card:hover::before {
  left: 33%;
}
