@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-qs {
    font-family: "Quicksand", system-ui, sans-serif;
  }
  .font-pp {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  /* outline: 1px solid red; */
}
